@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-primary: rgba(28, 209, 176, 1);
    --color-secundary: rgba(0, 102, 159, 1);
    --color-terciary: rgba(243, 243, 243, 1);

}

* {
    font-family: 'roboto'sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0%;
    padding: 0%;
}

header {
    background-color: var(--color-secundary);
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 140px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header__disscount {
    background-color: var(--color-primary);
    width: 100%;
    height: 38px;
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.header__disscount span {
    font-size: 17px;
    /* 1.063rem*/
    font-weight: normal;
    display: inline-block;
    margin: 10px;
}

.caja {
    flex-grow: 1;
}

.header__title {
    font-size: 40px;
    /* 2.5rem */
    font-weight: normal;
    line-height: 47px;
    margin: 28px 0px 26px 28px;
}

.container {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 100px 0px;
    position: relative;
    justify-content: center;
    width: 100%;
}

.box {
    background-color: var(--color-terciary);
    border: solid 1px var(--color-terciary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 530px;
    position: relative;
    width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.box__top {
    height: 194px;
    width: 100%;
}

.box__heart {
    position: absolute;
    top: 3%;
    left: 5%;
}

.box__body {
    font-weight: normal;
    text-align: center;
    position: relative;
}

.box__pic {
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: -25%;
}

.box__title {
    font-size: 30px;
    font-weight: inherit;
    line-height: 35px;
    margin-top: 40px;
    text-align: inherit;

}

p {
    text-align: left;
    padding: 20px;
    font-size: 16px
}

.box__buton {
    padding: 20px;
    background-color: var(--color-secundary);
    color: white;
    display: inline-block;
    margin: 20px;
    width: 130px;
}

footer {
    background-color: var(--color-secundary);
    height: 50px;
    padding-left: 10px;
    position: relative;
    bottom: 0%;
    width: 100%;
}

.foot span {
    color: white;
    font-size: 15px;
    line-height: 50px;
    vertical-align: middle;
}