body {
  font-family: 'Roboto', sans-serif;
}

    .title-banner {
      text-align: center;
      color: #3C2313;
      border-radius: nullpx;
      font-weight: 400;
    }

    .banner {
      background-image: url("../images/fullblue.png");
      background-size: cover;
      height: 900px;
      
    }

    .banner h4 {
      background-color: orange;
      display: inline;
      color: white;
      text-transform: uppercase;
    }

    .banner h2 {
      height: 15px;
      width: 190px;
      left: 196px;
      top: 268px;
      border-radius: nullpx;
    }

    .menuSuperior {
      background-color: #F0A83E;
      background-size: 100%;
    }

    .Productos {
      text-align: center;
    }

    .footer-info {
      background-color: #3c2313;
      background-size: cover;
      font-size: 30px;
    }

    .footer-info h3 {
      color: white;
    }

    .footer-info p {
      color: #666;
    }

    .footer-bottom {
      background-color: black;
      color: white;
      text-align: center;
      font-size: 20px;
    }